### Diccionarios

In [4]:
#Diccionarios
planeta = {}
planet = {
    'name': 'Earth',
    'moons': 1
}
#Obtener los datos
print( planet.get('name') )
print( planet['name'] )

#Actualizar datos
planet.update( {'name': 'Jupyter' } )
print(planet.get('name'))

planet['name'] = 'Mercury'
print( planet['name'] )

Earth
Earth
Jupyter
Mercury

#### Poder del Update

In [5]:
planeta = {
    'nombre': 'Tierra',
    'lunas': 1
}
print( planeta )
#Update
planeta.update({'nombre': 'Jupiter', 'lunas': 79})
print( planeta )
#Update con corchetes
planeta['name'] = 'Marte'
planeta['lunas'] = 2 #

{'nombre': 'Tierra', 'lunas': 1}
{'nombre': 'Jupiter', 'lunas': 79}

### Agregar e eliminar datos

In [7]:
planeta = {
    'nombre': 'Tierra',
    'lunas': 1
}
#agregando datos
planeta['periodo orbital'] = 4333
print( planeta )

#quitando datos
planeta.pop('periodo orbital')
print(planeta)

{'nombre': 'Tierra', 'lunas': 1, 'periodo orbital': 4333}
{'nombre': 'Tierra', 'lunas': 1}

### Datos complejos

In [18]:

planeta['diametro (km)'] = {
    'polar': 133709,
    'ecuatorial': 142984
}

print(f'''{planeta['nombre']} diametro polar: {planeta['diametro (km)']['polar']}''')
print(planeta)
print(planeta['diametro (km)']['ecuatorial'])

Tierra diametro polar: 133709
{'nombre': 'Tierra', 'lunas': 1, 'diametro (km)': {'polar': 133709, 'ecuatorial': 142984}}
142984

### Datos dinámicos

In [24]:
#Iteración
rainfall = {
    'october': 3.5,
    'november': 4.2,
    'december': 2.1
}
for key in rainfall.keys() :
    print( f'{key}:{rainfall[key]} cm' )
print('-'*50);
for i in rainfall.keys() :
    print(i,' ',rainfall[i], 'cm')

october:3.5 cm
november:4.2 cm
december:2.1 cm
--------------------------------------------------
october   3.5 cm
november   4.2 cm
december   2.1 cm

In [27]:
#Insercción de datos
# El valor de december: 2.1cm
if 'december' in rainfall:
    rainfall['december'] = rainfall['december'] + 1 #2.1 + 1
else:
    rainfall['december'] = 1

for i in rainfall.keys():
    print(i, ' ', rainfall[i], 'cm')

october   3.5 cm
november   4.2 cm
december   5.1 cm

### Value

In [28]:
total_rainfall = 0

for value in rainfall.values():
    total_rainfall += value

print(f'There was {total_rainfall} cm in the last quarter')

There was 12.8 cm in the last quarter