In [9]:
#Ejemplo
lista = ['mercurio', 'venus','tierra', 'marte', 'jupiter', 'saturno', 'urano', 'neptuno']

#Acceso por indices
print (lista[1])
print( 'Marte esta en el indice 3', lista[3] )
#Acceso por loop for
for i in lista:
    print(i)

venus
Marte esta en el indice 3 marte
mercurio
venus
tierra
marte
jupiter
saturno
urano
neptuno

In [6]:
#Modificando los valores de la lista
lista[3] = 'planeta rojo'
print('Marte tambien se conoce como: ', lista[3])

Marte tambien se conoce como:  planeta rojo

In [7]:
#Longitud de una lista
totalDePlanetas = len( lista )
print('Númeto de planetas', totalDePlanetas)

Númeto de planetas 8

In [10]:
#Append 
lista.append('pluton')
for index, item in enumerate( lista ):
    print('planeta ' + str(index), item )

planeta 0 mercurio
planeta 1 venus
planeta 2 tierra
planeta 3 marte
planeta 4 jupiter
planeta 5 saturno
planeta 6 urano
planeta 7 neptuno
planeta 8 pluton

In [11]:
#pop
print( 'tamanio lista', len(lista) )
lista.pop()
print( 'tamanio lista', len(lista) )

tamanio lista 9
tamanio lista 8

In [12]:
#Indice negativos
print( lista[-1] ) #ultimo elemento
print( lista[-2] ) #penultimo elemento

neptuno
urano

In [13]:
#Buscar indice
indice = lista.index('jupiter')
print('Jupiter indice ', indice)

Jupiter indice  4

In [22]:
#Listas con numeros flotantes
gravedadEnPlaneta = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]
pesoDelAutobus = 12650

for index, item in enumerate(lista):
    print('Peso del autobús en ' + item, str( round( pesoDelAutobus * gravedadEnPlaneta[index], 2) ) +' kg' )

Peso del autobús en mercurio 4781.7 kg
Peso del autobús en venus 11473.55 kg
Peso del autobús en tierra 12650 kg
Peso del autobús en marte 4794.35 kg
Peso del autobús en jupiter 29854.0 kg
Peso del autobús en saturno 11587.4 kg
Peso del autobús en urano 11245.85 kg
Peso del autobús en neptuno 14168.0 kg

In [30]:
#max, min
print('Peso maximo del autobus en planetas: '+ str( pesoDelAutobus * max( gravedadEnPlaneta )) )
print('Peso minimo del autobus en planetas: '+ str( pesoDelAutobus * min( gravedadEnPlaneta )) )

Peso maximo del autobus en planetas: 29854.0
Peso minimo del autobus en planetas: 4781.7

In [35]:
#Slicing
planetas = lista

planetasAntesDeLaTierra = planetas[0:2]
planetasDespuesDeLaTierra = planetas[ 3: ]
for i in planetasAntesDeLaTierra:
    print(i)
print('-'*18)
for i in planetasDespuesDeLaTierra:
    print(i)

mercurio
venus
------------------
marte
jupiter
saturno
urano
neptuno

In [38]:
#Union de listas

amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

#Ordenamiento de listas
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

#Ordenamiento inverso
regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']
The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']
The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']