# Primer programa

### Suma de 2 numeros

In [2]:
#primer-programa-doc.ipynb
sum = 1 + 2
print(sum)

3

### Funcion print()

In [3]:
print('hello world')

hello world

### Variables

In [4]:
sum = 1 + 2  # 3
product = sum * 2
print(product)

6

### Tipos de datos

In [5]:
planetas_en_el_sistema_solar = 8 # int, plutón era considerado un planeta pero ya es muy pequeño
distancia_a_alfa_centauri = 4.367 # float, años luz
puede_despegar = True
transbordador_que_aterrizo_en_la_luna = "Apollo 11" #string

In [6]:
distancia_a_alfa_centauri = 4.367  # Parece un decimal flotante
type(distancia_a_alfa_centauri)

float

### Tipos de datos
Ejemplo:

In [ ]:
planetas_en_el_sistema_solar = 8 # int, plutón era considerado un planeta pero ya es muy pequeño
distancia_a_alfa_centauri = 4.367 # float, años luz
puede_despegar = True #boolean
transbordador_que_aterrizo_en_la_luna = "Apollo 11" #string

#### type()

In [7]:
# Declaramos la variable
distancia_a_alfa_centauri = 4.367

# Descubrimos su tipo de dato
type(distancia_a_alfa_centauri)

float

### Operadores

#### Asignación

In [8]:
x = 2
print( x )
x = 2
x += x
print( x )
x = 2
x -= x
print( x )
x = 2
x *= x
print( x )
x = 2
x /=2
print( x )

2
4
0
4
1.0

#### Aritméticos

In [9]:
x = 2
y = 2
print( x + y )
print( x - y )
print( x * y )
print( x / y )

4
0
4
1.0

### Fechas

In [10]:
# Importamos la biblioteca
from datetime import date

# Obtenemos la fecha de hoy
date.today()

# Mostramos la fecha en la consola
print(date.today())

2022-02-11

### Conversión de tipos

In [12]:
print("Today's date is: " + str(date.today()))

Today's date is: 2022-02-11

### Entrada de datos (input)

In [16]:
print("Bienvenido al programa de bienvenida")
name = input("Introduzca su nombre ")
print("Saludos: " + name)

Bienvenido al programa de bienvenida
Saludos: pepe

#### Input con números

In [17]:
print("Calculadora")
first_number = input("Primer número: ")
second_number = input("Segundo número: ")
print( int( first_number ) + int( second_number ) )

Calculadora
10